*{

}

body {
  background-color: rgb(232, 227, 246);
}

h1 {
    border-bottom: 5px solid black;
    background-color: rgb(205, 203, 251);
    position: relative;
    text-align: center;

}

img {
  border: 5px rgb(0, 0, 0) solid;
}

ul {

}

li {

}

p {
  margin-bottom: 1px;
  margin-top: 1px;
}

#header {
  
}

#content{
  box-shadow: 60px;
}

#text {
text-indent:40px ;
 
}

#text p {
   border-style:dashed ;
  border-width: 4px;
  

}

#text p:first-child {
  border-style:dashed ;
  border-width: 4px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-image: url(../images/fondoParrafo.png) ;
}

#text p:last-child {
 border-style:dashed ;
  border-width: 4px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#menu {

}

#menu a{

}


#menu li{

}

#menu li a:hover{

}

#footer{

}

#footer a{

}

#footer a:hover{

}
#image {
   text-align:right;
    padding-right: 60px;
}

@media all and (max-width: 500px) {

}
