*{

}

body {
  background-color: rgb(232, 227, 246);
}

h1 {
    border-bottom: 5px solid black;
    background-color: rgb(205, 203, 251);
    position: relative;
    text-align: center;

}

img {
  border: 5px rgb(0, 0, 0) solid;
}

ul {
  

}

li {
     
    
}

p {
  margin-bottom: 4px;
  margin-top: 4px;
  background-color: rgb(184, 184, 245);
  padding: 10px;
}



#header {
  
}

#content{
  
}

#text {
text-indent:40px ;
  width: 90%;
  margin-left: auto;
   margin-right: auto;
 
}

#text p {
   border-style:dashed ;
  border-width: 4px;
  box-shadow:4px 4px 10px black ;
 
}

#text p:first-child {
  border-style:dashed ;
  border-width: 4px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-image: url(../images/fondoParrafo.png) ;
  
}

#text p:last-child {
 border-style:dashed ;
  border-width: 4px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#menu {
  text-align: center;

}

#menu a{
  border-left: solid red;
  padding: 4px;

}


#menu li{
  display: inline;
  text-align: unset;

}

#menu li a:hover{
text-decoration: underline;
  color: red;
}

#footer{
border-top: 5px solid black;
    background-color: rgb(205, 203, 251);
    position: relative;
    text-align: center;
}

#footer a{

}

#footer a:hover{

}
#image {
   text-align:right;
    padding-right: 60px;
}

@media all and (max-width: 500px) {
img{
  border: solid red 7px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  
}
image{
  text-align: center;
}

}
