.card{
    width: 300px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 1px 1px 20px rgb(0, 0, 0);
    border: 1px solid black;
    margin: 50px auto;
}

.header{
    background-color: rgb(186, 186, 186);
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
.avatar{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 94, 255);
    border-radius: 50%;
    ;
}

.bio{
    padding: 20px;
    border-bottom: 1px solid rgb(197, 197, 197);
    margin-bottom: 15px;
    font-size: 15px;
}
.stats{
    display: flex;
    justify-content: space-between ;
    padding: 15px;
    
}
.stat-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.actions{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn-primary{
  padding: 10px 15px;
    border: none;
    border-radius: 6px;
    flex-basis: 70%;
    background-color: rgb(31, 128, 246);
    color: white;
}
.btn-secondary{
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    flex-basis: 30%;

}