* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('../images/fonfop.jpg');
  background-size: cover;
  font-family: 'Alfa Slab One', sans-serif;
  padding-top: 50px;
  padding-bottom: 70px;
}

#menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #007de4;
  text-align: center;
  line-height: 50px;
}
#menu li { 
  display: inline; 
  margin:15px; 
}

#menu a { 
  color: white; 
  text-decoration: none; 
  font-family: inherit;
  font-size: 18px;
}
#menu a:hover { 
  text-decoration: underline; 
}

#header {
  text-align: center;
  background-color: rgba(0, 153, 255, 0.8);
  padding: 20px;
  color: white;
  overflow: hidden;
}
.portada { 
  float: right; 
  width: 100px; 
  height: auto; 
  border: 1px solid white;
}

#cookieEU {
  position: fixed;
  top: 35%;
  left: 20%;
  right: 20%;
  background: rgb(255, 228, 179);
  border: 3px solid rgb(12, 1, 89);
  padding: 20px;
  text-align: center;
  z-index: 2000;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

#imageRight {
  float: right;
  width: 20%;
  position: relative;
  background: linear-gradient(to bottom, rgb(220,50,50) 0%, rgb(220,50,50) 50%, #ffffff 50%, #ffffff 100%);
  border-radius: 150px;
  padding: 12px;
  box-sizing: border-box;
  overflow: hidden;
}

#imageRight::after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  top: 50%;
  height: 5px;
  background: #000;
  transform: translateY(-50%);
  border-radius: 200px;
  pointer-events: none;
}
.social {
  width: 60px;
  height: 60px;
  display: block;
  margin: 10px auto;

}

#c-central {
  float: left;
  width: 75%;
}

.fuego {
  background-color: rgba(255, 160, 122, 0.9);
  margin-bottom: 20px;
  padding: 20px;
  overflow: hidden;
  border: 1px solid #333;
  border-radius: 15px;
}

.planta {
  background-color: rgba(144, 238, 144, 0.9);
  margin-bottom: 20px;
  padding: 20px;
  overflow: hidden;
  border: 1px solid #333;
  border-radius: 15px;
}
.agua {
  background-color: rgba(135, 206, 250, 0.9);
  margin-bottom: 20px;
  padding: 20px;
  overflow: hidden;
  border: 1px solid #333;
  border-radius: 15px;
}

.der {
  width: 150px;
  height: 150px;
  border: 1px solid #3b3b3b;
  float: right; margin-left: 20px;
}
.izq {
  width: 150px;
  height: 150px;
  border: 1px solid #333;
  float: left; margin-right: 20px;
}

.info { text-align: justify; }

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #007ade;
  color: white;
  text-align: center;
  padding: 15px;
  border-top: 3px solid black;
}

.button {
  background: blue;
  color: white;
  padding: 5px 15px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}

@media (max-width: 600px) {
  #c-central {
    float: none;
    width: 100%;
  }
  .social {
    display: inline;
    align-content: center;
    margin: 15px;
    width: 50px;
    height: 50px;
  }
#menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #ff0000;
  border: #000000 2px solid;
  text-align: center;
  line-height: 50px;
}
#menu a { 
  color: white; 
  text-decoration: none; 
  font-family: inherit;
  font-size: 10px;
}
body {
  background: url('../images/images.jpeg');
  background-size: cover;
  font-family: 'Alfa Slab One', sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
}
#header {
  text-align: center;
  background-color: rgba(255, 0, 0, 0.801);
  border: #000000 2px solid;
  padding: 20px;
  color: white;
  overflow: hidden;
}
#footer {
  position: fixed;
  width: 100%;
  background: #ff0000;
  border: #000000 2px solid;
  color: white;
  text-align: center;
  border-top: 3px solid black;
  font-size: 10px;
}
  #imageRight {
    float: none;
    width: 100%;
  }
}